filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

filebeat.modules:
  - module: threatintel
    misp:
      enabled: true
      var.input: httpjson
      var.url: "https://192.168.126.20/events/restSearch"
      var.api_token: "<CLE_API_MISP>"
      var.first_interval: 720h
      var.interval: 10m
      var.ssl.verification_mode: none

output.elasticsearch:
  hosts: ["https://192.168.126.10:9200"]
  username: "elastic"
  password: "<MOT_DE_PASSE_ELASTIC>"
  ssl.verification_mode: none

setup.kibana:
  host: "http://192.168.126.10:5601"
